.App {
  text-align: center;
  background-color: lightcyan;
  overflow: hidden;
}

h1{
  border: 1px solid brown;
}

.card{
  display: flex;
  justify-content: space-around;
  font-family: 'Courier New', Courier, monospace;
}

.rating{
  text-align: left;
}

.driverCard{
  background-color: rgb(0, 110, 255);
  border-radius: 20px;
}

.driverCard img{
  height: 80px;
  border-radius: 200px;
}
